<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Happy Anniversary My Love ❤️</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <section class="welcome">

        <div class="welcome-content">

            <p>A little something for you... 💕</p>

            <h1>
                Happy 1st<br>
                Anniversary Mahal❤️
            </h1>

            <p>
                To the person who makes my world
                more beautiful every day.
            </p>


        </div>

    </section>


    <section id="letter" class="letter-section">

        <div class="letter-card">

            <h2>For My Love ❤️</h2>

            <p class="date">
                Happy Anniversary, Mahal Ko
            </p>


            <div class="photo-container">

                <img
                    src="{{ url_for('static', filename='couple.jpg') }}"
                    alt="Our Photo">

            </div>


            <div class="letter">

                <p>Hello mahal ko, ❤️</p>

                <p>
                    Happy 1st Anniversary to us mahal❤️. Hindi ko alam kong san ako mag uumpisa kasi while i’m doing this naiiyak ako HAHAHAHA. So here’s our story…… Alam ko na sasabihin mo dito ang haba HAHAHAHA mahaba talaga to kasi ikwekwento ko simula umpisa……

                </p>

                <p>
                    When I first met you, I always wanted it to be just a friendship. At that time, I wasn’t ready yet.  Ang dami kong trauma kaya takot akong pumasok sa isang relationship. I met a lot of boys before you, pero lagi kong sinasabi i’m not ready. But then you came, you added me and nag chat ka, nakita ko yun pero di ako nag reply kasi hindi ko din alam then inunsend mo yung chat tas kinabukasan nag chat ka ulit and dun na ako nag reply. At that time, i don’t have any feelings for you kasi nga friendship lang yung hanap ko, I just found you interesting, and I enjoyed talking to you. Tapos nung 1st meet natin sa bukid na may remembrance ka pa kasi nawala vape mo may konti akong naramdaman nun pero ahhh no deadma lang kasi for friendship lang. Tapos nung 1st na inuwi mo ko sainyo then kinantahan mo ako
you know what yung wall ko nun nawala, yung heart ko na matigas naging soft. Napasabi ako nun na lord kung ibibigay mo sakin to susugal ako, mag t-take ulit ako ng risk sa taong to.

                </p>

                <p>
                    Then we started talking hanggang sa wala na hulog na hulog na ako sayo🥰, Tanda mo yung flowers? That was my first time giving flowers to a man, And when I saw your reaction, sobrang genuine ang sarap sarap mo laging bigyan ng gift kapag nakikita ko yung reactions mo sa mga binibigay ko sayo… Tapos after 1 month nag end, tinapos ko aaminin ko na distract ako sa iba but at the end of the day ikaw pa din yung hinahanap ko and wala akong lakas ng loob mag 1st move since di naman ako ganon. Tapos nakita ko yung notes mo sa ig and nag assume ako na ako yun, kaya nag notes din ako without knowing na mag rereply ka dun kasi nag assume ka sa notes na para naman sayoo. And somehow, those little assumptions brought us back to each other.
                </p>

                <p>
                    We started hanging out again. Drinking together, watching movies na hindi naman natatapos kasi nag cuddle na (love love😆) HAHAHAHA, yung pinag p-pray ko lang noon ehh tinupad ni god. And that’s YOU mahal.
I’m so very very thankful and grateful kasi kahit hindi naging maganda yung umpisa natin pinag tagpo ulit tayo, forever tatatak sa isip ko yung “KUNG HINDI KA NAG REPLY SA NOTES KO WALA TO” HAHAHAHA. Who would have thought na yung taong nakilala ko at inisip kong magiging friend ko lang, mamahalin ko pala nang sobra pa sa sobra🥰. Yung mga dates natin sa bypass, na may kasamang kwento tungkol sa buhay natin, sa mga pangarap natin, at sa mga bagay na gusto nating ma-achieve someday those are some of my favorite memories with you. I’m also happy and grateful that you trusted me enough to share your past with me. I never judged you for anything you went through because I accept you for who you are. I love you as you are😘. Habang nag kwe-kwento ka nakikita ko sa mga mata mo kung gaano ka ka-pursigido na makaalis dito someday para matupad mo yung mga pangarap mo para sa family mo and para rin sa sarili mo. 


                </p>

                <p>
                    Alam kong ang dami mong pinagdaanan bago ka makarating kung nasaan ka ngayon. Ang daming pagsubok, pagod, sacrifices, at dumating sa point na tinangka mong tapusin yung buhay mo (na sa mga panahong yun ehh hindi pa ako yung kasama mo) But you kept going. And I want you to know that I’m so proud of you mahal🫶. That’s why you deserve every blessing that comes your way because I know how hard working you are. I know how much you want to give your family a better life, and I’ll always be here to support you and cheer for you habang inaabot mo lahat ng pangarap mo. 


                </p>

                <p>
                    Bago ka umalis ang dami nating deep talks, sa mga ayaw natin, na priority natin yung peace of mind ng isa’t isa. May times na nag fail ako mahal, i’m really sorry for everything. Lalo na yung nagawa kong kasalanan na nakapag bring back ng mga trauma mo. Hindi ko sinasadyang saktan ka nun, hindi ako naging maingat, hindi ko kinonsider yung mararamdaman mo nun. I swear mahal until now pinag sisisihan ko pa din yun….

                </p>

                <p>
                    Mahal Thank you for making me experience what it feels like to love and to be loved again🥺🤍. Akalain mo yun 1yr na agad tayo ang bilis.
                </p>

                <p>
                    I miss you so much mahal ko🥺 i miss our bonding na together, i miss our dates, our random chika while hugging each other, i miss hugging and kissing you na po🥺 miss na miss na kita. Every time na nag pupunta ako sa bahay mas lalo lang kitang namimiss🥺 i miss everything about you mahal ko🥺 SEE YOU SOONEST ASAWA❤️!
                </p>

                <p>
                    Mahal thank you for giving me a kind of love I thought I would never experience again. Thank you for being patient with me, for understanding me even when I don't know how to explain what I'm feeling, and for always listening to me.
Thank you for making me feel safe enough to open my heart again🤍. Before you, I was scared to love and trust someone again because I didn't want to get hurt. But with you, I slowly learned to let my guard down and let someone love me again.

                </p>

                <p>
                    Thank you for showing me that love can be simple, peaceful, and genuine🥰🤍. Thank you for making me feel loved, appreciated, and accepted for who I am. And Specially, thank you for staying. Thank you for choosing me and for making me feel that I don't have to face everything alone. THANK YOU FOR EVERYTHING MAHAL🤍🤍🤍!!!
                </p>

                <p>
                   Mahal promise ko sayo na hinding hindi po kita iiwan, leaving you again is not an option for me anymore. Lagi mong tatandaan na andito lang ako lagi for you, di mo na kailangan solohin yung mga problems mo or pagsubok na binigay sayo kasi andito ako always for you. Hindi ko man alam kung ano yung sasabihin sayo, hindi ko man danas yung mga pinag daanan mo andito pa din ako lagi handa akong makinig sayo sa lahat ng rants mo, problems mo or sa kahit ano pa man. You don't have to go through everything alone anymore, mahal. ANDITO LANG AKO ALWAYS FOR YOU! Always remember na i’m always here for you through ups and downs and through happiness and sadness, through every challenges na ibibigay satin ni God. 
                </p>

                <p>
                    Kung pagod ka, just rest, okay? Hindi mo kailangang pilitin yung sarili mo kapag pagod ka na. Kung gusto mong umiyak, just tell me. Samahan kitang umiyak. Hindi mo kailangang itago sa akin yung nararamdaman mo.
                </p>

                <p>
                    Be gentle with yourself mahal. Huwag mong masyadong pagodin yung sarili mo. Alam kong marami kang gustong ma-achieve at marami kang pangarap para sa sarili mo at sa family mo, pero tandaan mo rin na kailangan mong alagaan yung sarili mo.

                </p>

                <p>
                    Always take care of yourself diyan ah. Ingat ka palagi, lalo na kapag pumapasok ka. I may not always be there physically beside you, pero lagi kitang iniisip and lagi kong hinihiling na maging safe ka na ibigay sayo lahat ni God lahat ng pangarap mo. Hindi man natin alam kung anong mangyayari sa future, lagi kong hinihiling na hanggang sa maabot natin lahat ng mga pangarap natin, tayo pa rin yung magkasama. I want to see you achieve your dreams, and I hope na habang hinahabol natin yung mga pangarap natin, nandito pa rin tayo para sa isa’t isa. Kahit saan man tayo dalhin ng buhay, sana piliin pa rin natin ang isa’t isa hanggang sa dulo🤍 

                </p>

                <p>
                    No matter how many arguments, misunderstandings, or silent moments we go through, I'll always find my way back to you. Kasi at the end of the day, ikaw pa rin ang pipiliin ko, at sayo pa rin ako uuwi. Ikaw pa rin ang gusto kong makasama, mahalin, at piliin sa bawat season ng buhay natin.

                </p>

                <p>
                    Kahit may mga araw na hindi tayo nagkakaintindihan,  kahit may times na pareho tayong napapagod, dumating man yung araw na lagi na tayong nag aaway i hope we never forget how much we mean to each other. Hindi man laging perfect ang relationship natin, pero gusto kong matutunan nating ayusin ang lahat together kaysa piliing sumuko sa isa't isa.
And if life ever gets hard, I hope we continue to hold on to each other. I want us to grow together, learn together, and become better for each other. Sa lahat ng mangyayari sa future, ikaw at ikaw pa rin yung gusto kong piliin ng paulit ulit forever. Gaya nga ng lagi kong sinasabi, I only want you to be my husband and to be the father of my child. I already promised to myself, I only want you to be my last. Mas pipiliin kong ayusin nang paulit-ulit yung relationship natin kaysa maghanap ng iba. Never pumasok sa isip ko na iwan ka at maghanap ng iba. Hindi ako mapapagod na i-assure ka na ikaw lang yung mahal ko. Hindi ako mapapagod na ipaglaban ka sa lahat. Wala akong pake sa sasabihin ng iba, ang importante sa akin, mahal kita at alam ko kung gaano kita kamahal. Kahit ilang beses pa tayong mag-away, kahit ilang beses pa tayong magkaroon ng misunderstandings, ikaw at ikaw pa rin yung pipiliin ko.

                </p>

                <p>
                    BECAUSE NO MATTER WHERE LIFE TAKES US, MY HEART WILL ALWAYS FIND ITS WAY BACK TO YOU🤍🤍🤍
                </p>

                <p>
                    Chase your dreams diyan mahal, while I chase mine here.  May God continue to bless our relationship and make our relationship more stronger🤍🤍🤍
                </p>

                <p>
                    HAPPY 1ST ANNIVERSARY TO US MAHAL KO🤍🤍🤍 MAHAL NA MAHAL NA MAHAL KITA SOBRA PA SA SOBRA. ILOVEYOUUU ALWAYS IN ALWAYS AND IKAW LANG MAMAHALIN AT PIPILIIN KO FOREVER AND EVER🤍🤍🤍

                </p>

                <p>
                    ALWAYS YOU IN EVERY SEASON, IN EVERY SITUATION KAPOS MAN OR PALDO🤍🤍🤍
                </p>

                <p class="signature">
                    MAHAL NA MAHAL NA MAHAL KITA ALWAYS & FOREVER🤍🤍🤍<br><br>
                    Forever yours,<br>
                    <strong>YOUR ONE AND ONLY WIFEY🤍🤍🤍</strong>
                </p>

            </div>

        </div>

    </section>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
