<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Happy Anniversary My Love ❤️</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <section class="welcome">

        <div class="welcome-content">

            <p>A little something for you... 💕</p>

            <h1>
                Happy 1st<br>
                Anniversary Mahal❤️
            </h1>

            <p>
                To the person who makes my world
                more beautiful every day.
            </p>


        </div>

    </section>


    <section id="letter" class="letter-section">

        <div class="letter-card">

            <h2>For My Love ❤️</h2>

            <p class="date">
                Happy Anniversary, Mahal Ko
            </p>


            <div class="photo-container">

                <img
                    src="{{ url_for('static', filename='couple.jpg') }}"
                    alt="Our Photo">

            </div>


            <div class="letter">

                <p>Hello mahal ko, ❤️</p>

                <p>
                    Happy 1st Anniversary to us mahal. Hindi ko alam kong san ako mag uumpisa kasi while i’m doing this naiiyak ako HAHAHAHA. So here’s our story…… Alam ko na sasabihin mo dito ang haba HAHAHAHA mahaba talaga to kasi ikwekwento ko simula umpisa……

                </p>

                <p>
                    When I first met you, I always wanted it to be just a friendship. At that time, I wasn’t ready yet.  Ang dami kong trauma kaya takot akong pumasok sa isang relationship. I met a lot of boys before you, pero lagi kong sinasabi i’m not ready. But then you came, you added me and nag chat ka, nakita ko yun pero di ako nag reply kasi hindi ko din alam then inunsend mo yung chat tas kinabukasan nag chat ka ulit and dun na ako nag reply. At that time, i don’t have any feelings for you kasi nga friendship lang yung hanap ko, I just found you interesting, and I enjoyed talking to you. Tapos nung 1st meet natin sa bukid na may remembrance ka pa kasi nawala vape mo may konti akong naramdaman nun pero ahhh no deadma lang kasi for friendship lang. Tapos nung 1st na inuwi mo ko sainyo then kinantahan mo ako
you know what yung wall ko nun nawala, yung heart ko na matigas naging soft. Napasabi ako nun na lord kung ibibigay mo sakin to susugal ako, mag t-take ulit ako ng risk sa taong to.

                </p>

                <p>
                    Then we started talking hanggang sa wala na hulog na hulog na ako sayo, Tanda mo yung flowers? That was my first time giving flowers to a boy, And when I saw your reaction, sobrang genuine ang sarap sarap mo laging bigyan ng gift kapag nakikita ko yung reactions mo sa mga binibigay ko sayo… Tapos after 1 month nag end, tinapos ko aaminin ko na distract ako sa iba but at the end of the day ikaw pa din yung hinahanap ko and wala akong lakas ng loob mag 1st move since di naman ako ganon. Tapos nakita ko yung notes mo sa ig and nag assume ako na ako yun, kaya nag notes din ako without knowing na mag rereply ka dun kasi nag assume ka sa notes na para naman sayoo. And somehow, those little assumptions brought us back to each other.

                </p>

                <p>
                    We started hanging out again. Drinking together, watching movies na hindi naman natatapos kasi nag cuddle na (love love) HAHAHAHA, yung pinag p-pray ko lang noon ehh tinupad ni god. And that’s YOU mahal.
I’m so very very thankful and grateful kasi kahit hindi naging maganda yung umpisa natin pinag tagpo ulit tayo, forever tatatak sa isip ko yung “KUNG HINDI KA NAG REPLY SA NOTES KO WALA TO” HAHAHAHA. Who would have thought na yung taong nakilala ko at inisip kong magiging friend ko lang, mamahalin ko pala nang sobra pa sa sobra. Yung mga dates natin sa bypass, na may kasamang kwento tungkol sa buhay natin, sa mga pangarap natin, at sa mga bagay na gusto nating ma-achieve someday those are some of my favorite memories with you. I’m also happy and grateful that you trusted me enough to share your past with me. I never judged you for anything you went through because I accept you for who you are. I love you as you are. Habang nag kwe-kwento ka nakikita ko sa mga mata mo kung gaano ka ka-pursigido na makaalis dito someday para matupad mo yung mga pangarap mo para sa family mo and para rin sa sarili mo. 

                </p>

                <p>
                    Alam kong ang dami mong pinagdaanan bago ka makarating kung nasaan ka ngayon. Ang daming pagsubok, pagod, sacrifices, at dumating sa point na tinangka mong tapusin yung buhay mo (na sa mga panahong yun ehh hindi pa ako yung kasama mo) But you kept going. And I want you to know that I’m so proud of you mahal. That’s why you deserve every blessing that comes your way because I know how hard-working you are. I know how much you want to give your family a better life, and I’ll always be here to support you and cheer for you habang inaabot mo lahat ng pangarap mo. 
Bago ka umalis ang dami nating deep talks, sa mga ayaw natin, na priority natin yung peace of mind ng isa’t isa. May times na nag fail ako mahal, i’m really sorry for everything. Lalo na yung nagawa kong kasalanan na nakapag bring back ng mga trauma mo. Hindi ko sinasadyang saktan ka nun, hindi ako naging maingat, hindi ko kinonsider yung mararamdaman mo nun. I swear mahal until now pinag sisisihan ko pa din yun….

                </p>

                <p>
                    Mahal Thank you for making me experience what it feels like to love and to be loved again. Akalain mo yun 1yr na agad tayo ang bilis
                </p>

                <p>
                    Thank you for being my person.
                    Thank you for loving me.
                    Happy 1st Anniversary to us, mahal ko.
                </p>

                <p class="signature">
                    I love you so much! ❤️<br><br>
                    Forever yours,<br>
                    <strong>Your Love 💕</strong>
                </p>

            </div>

        </div>

    </section>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>